.progress {
   background-color: #d8d8d8;
   position: relative;
   height: 7px;
   width: 580px;
}

.progress-done {
   background: red;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 0;
   opacity: 0;
   transition: 1s ease 0.3s;
}
